---
layout: default
title: GitLab.com
suppress_header: true
extra_css:
  - gitlab-com.css
---

%section.heading-container.gitlab-com-purple-section
  = partial "includes/icons/gitlab-icon-pattern-header.svg"
  .container.text-center
    %h1.page-headline
      Host your projects on GitLab.com
    %h2.subheader
      Unlimited free private repositories and collaborators
%section.page-container.container.gitlab-com-features
  %h2.text-center
    Supercharge your projects with issue tracking, CI/CD, application monitoring, and more.
  %h3.text-center
    GitLab is the only platform that brings 100% of your software development
    lifecycle into a single UI, helping you eliminate unnecessary steps from
    your workflow and focus exclusively on building and shipping great software.
  %ul.list-unstyled.row.gitlab-com-features-list
    %li.col-md-4
      = icon("unlimited-icon", "", width: 32, height: 32)
      %strong.features-list-title
        Unlimited repositories
    %li.col-md-4
      = icon("unlimited-icon", "", width: 32, height: 32)
      %strong.features-list-title
        Unlimited collaborators
    %li.col-md-4
      = icon("disk-space-icon", "", width: 32, height: 32)
      %strong.features-list-title
        10GB disk space per project
      %span.features-list-sub-title
        (with LFS support)
    %li.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
      = icon("no-install-icon", "", width: 32, height: 32)
      %strong.features-list-title
        No installation required
    %li.col-md-5.col-lg-4
      = icon("import-icon", "", width: 32, height: 32)
      %strong.features-list-title
        Easy import from your current provider
  .row.gitlab-com-plans
    - data.gitlab_com.prices.each_with_index do |price, i|
      .col-md-4.col-lg-3.col-lg-offset-0{ class: ("col-md-offset-2" if i == 0 || i == 2) }
        .panel.panel-gitlab
          %header.panel-heading.text-center= price.title
          .panel-body.text-center.pricing-panel-body
            %h4.pricing-panel-price
              = price.monthly
              - if price.paid
                %span.pricing-panel-price-side
                  per user
                  per month
                %div.pricing-panel-price-subtext
                  paid annually at
                  = price.yearly
            %p= price.description
            %p= price.features
            %p.pricing-panel-support{ class: ("is-hidden" unless price.support) }
              = "#{price.support}"
            = link_to price.link_text, price.link, class: "btn cta-btn red"
  %p.text-center.billed-annually
    All plans are billed annually.
%section.gitlab-com-white-section.page-container.gitlab-com-questions
  .container
    %h2.text-center.light
      Frequently Asked Questions
    .faq-holder.clearfix
      - size = (data.gitlab_com.questions.size / Float(2)).ceil
      - data.gitlab_com.questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }
%section.page-container.gitlab-com-strategy.gitlab-com-purple-section
  .container
    %h3.text-center.gitlab-com-stratergy-title
      Our strategy moving forward
    %p.gitlab-com-stratergy-opening-text
      %a{href: "/strategy/#sequence"} Our strategy
      is to make GitLab.com the most popular SaaS solution for private and public
      repositories. To achieve this goal you get unlimited public and private projects, and there
      is no limit to the number of collaborators on a project. And we plan to keep unlimited repositories
      and collaborators free forever. To sustain this there are paid accounts and features.
    %h4.text-center.gitlab-com-strategy-title.gitlab-com-strategy-title-future
      In the future we might also charge for the following things:
    .row.gitlab-com-strategy-future
      .col-md-4
        %p.gitlab-com-strategy-plan-text.light
          Build artifact storage above a certain size (currently unlimited even with a free account)
      .col-md-4
        %p.gitlab-com-strategy-plan-text.light
          Container images storage above a certain size (currently unlimited even with a free account)
      .col-md-4
        %p.gitlab-com-strategy-plan-text.light
          GitLab Pages with very high traffic (currently unlimited even with a free acount)
      .col-md-4
        %p.gitlab-com-strategy-plan-text.light
          Restrict the build minutes in the bronze plan (move unlimited minutes to the silver account)
      .col-md-4
        %p.gitlab-com-strategy-plan-text.light
          Windows & MacOS Runners for GitLab CI (not available now but you can always bring your own Runner)
%section.gitlab-right-fit.container.text-center
  %h2.light
    Is GitLab the right fit for you?
  %h3.light
    Unlimited free private repositories and collaborators
  = link_to "Compare us to our competitors", "/comparison", class: "btn cta-btn red"
