$color-white: #fff;
$color-white-alt: #d9ccff;
$color-transparent: rgba(0, 0, 0, 0);
$color-transparent-white: rgba(255, 255, 255, 0);
$color-white-rad-event: #fafafa;
$color-dark: #000;
$color-gray: #777;
$color-gray-medium: #ddd;
$color-gray-light: #aaa;
$color-gray-extra-light: #e7e7e7;
$color-gray-features: #5d5d5d;
$color-blue: #4887c5;
$color-green: #18be97;
$color-red: #f00;

$color-primary: #548;
$color-primary-alt: #6b4fbb;
$color-primary-medium: #503991;
$color-secondary: #e14329;
$color-secondary-alt: #fba225;

$text-color-light: #444;

$divider-color: #d3d3d3;
$link-color: #55acee;
$link-code-color: rgb(55, 119, 176);
$border-color: #dfdfdf;
$header-text-light-color: #a69ebd;

$team-content-color: #999;
$member-name-color: #333;
$member-shadow-color: #ccc;
$member-social-color: #ccc;

$modal-overlay-color: rgba(22, 22, 22, .8);

$blog-color-text: #222;
$blog-color-note: #666;
$blog-color-heading: #fff;
$blog-color-purple: rgb(107, 79, 187);
$blog-color-mk-border: #ccc;
$blog-color-date: #888;
$blog-color-overlay-border: #eee;
$blog-color-border-shadow: rgba(0, 0, 0, .1);
$blog-color-image-from: rgba(0, 0, 0, 0);
$blog-color-image-to: rgba(0, 0, 0, .8);
$blog-color-ipanel-heading: rgba(221, 221, 221, .5);
$blog-color-legacy-image-from: rgba(85, 68, 136, .8);
$blog-color-legacy-image-to: rgba(72, 135, 197, .92);

$release-manager-list-bg: #403366;
$release-manager-table-border: #584985;
$release-manager-table-header-color: #9583c9;
$release-manager-current-table-data-color: #ff9;

$mvp-list-bg: #403366;
$mvp-table-border: #584985;
$mvp-table-header-color: #9583c9;

$landing-community-bg: #34373c;
$landing-organization-color: #d7d7d7;

$downloads-btn-color: #7769a0;
$downloads-btn-hover-color: #403366;
$downloads-code-color: #403366;
$downloads-step-link-color: #ffb800;
$downloads-step-color: #e3dcf7;

$contact-color: #bbb4cf;
$contact-btn-bg: #887ab6;

$consultancy-bg-color: #272120;

$gs-btn-bg: #129bee;
$gs-btn-hover-bg: #6144b8;

$applications-title-color: #373737;
$applications-app-shadow-color: #e0e0e0;

$link-box-color: #333;
$link-box-border-color: #7863b6;
$link-box-hover-bg: #f4f0ff;

$pricing-primary: #129bee;
$subscription-header-bg: #444;
$subs-header-color: #242424;
$subs-header-sub-color: #979797;
$subs-header-hr-color: #d4d4d4;
$pricing-header-color-to: #4887c5;
$pricing-gray-bg: #fafafa;

$blueish-gray: #a1a1a2;

$dropdown-text-color: #626262;
$dropdown-caret-color: #c4c4c4;
$dropdown-border-color: #eaeaea;
$dropdown-focus-color: #c4c4c4;
$dropdown-hover-color: #f7faff;

$dropdown-filter-border-color: rgba(0, 0, 0, .1);
$dropdown-fa-color: #c7c7c7;
$dropdown-fa-focus-color: #555;

$formula-variable-bg: #f9f9f9;
$formula-text-color: #9d9d9d;
$formula-value-color: #444;

// Bootstrap overrides
$breadcrumb-separator: ">";
$breadcrumb-bg: darken($color-white, 2%);

$container-large-desktop: 1200px;

$body-bg: #f9f9f9;

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-serif: "Roboto Slab", serif;

$border-radius-large: 3px;
$border-color: #d7d7d7;

$grid-float-breakpoint: 992px;
$screen-sm-min: 768px;

$navbar-default-bg: #fff;
$navbar-default-toggle-icon-bar-bg: $color-primary;
$navbar-default-link-color: #8c929d;
$navbar-default-link-hover-color: $color-primary;
$navbar-default-link-active-color: $color-primary;
$navbar-default-link-active-bg: transparent;
$navbar-default-border: $border-color;

$dropdown-bg: #019875;
$dropdown-link-color: #fff;
$dropdown-link-hover-color: #18be97;

$search-input-font-color: #333;
$search-border-color: #bcbcbc;

$reseller-divider-color: $border-color;
$reseller-hero-bg-color: #35393d;
$reseller-hero-content-color: #969696;
$reseller-category-active-background-color: rgba(255, 255, 255, .4);

$applications-search-box-shadow-color: rgba($color-dark, .5);

$features-gradient-end: rgba(148, 149, 150, 1);
$features-gradient-begin: rgba(0, 0, 0, .91);
$features-semi-transparent-white: rgba(255, 255, 255, .15);
$features-semi-transparent-gray: rgba(180, 180, 180, .15);
$features-semi-transparent-gray-link: rgba(180, 180, 180, .50);
$features-semi-transparent-black: rgba(12, 12, 12, .47);
$features-semi-transparent-purple: rgba(107, 79, 187, .50);
$features-barely-transparent-white: rgba(255, 255, 255, .5);
$features-gray-light-barely-transparent: rgba(170, 170, 170, .5);
$features-gallery-background-gradient-begin: #6b4fbb;
$features-gallery-background-gradient-middle: #5942a0;
$features-gallery-background-gradient-end: #42327a;
$features-gallery-alt-description-black: rgba(0, 0, 0, .7);

$ee-standalone-primary-background-gradient: linear-gradient(to right, $color-primary-alt 0%, $features-gallery-background-gradient-middle 40%, $features-gallery-background-gradient-end 100%);
$ee-standalone-hero-background-top: rgba(52, 55, 60, .85);
$ee-standalone-hero-background-gradient: linear-gradient(to bottom, $ee-standalone-hero-background-top, $landing-community-bg 85%);
$facebook-bg: #3b5998;
$twitter-bg: #55acee;
$google-bg: #dd4b39;
$linkedin-bg: #007bb5;
$dropdown-events-text-color: #626262;

// features pages


$wordmark-text-color: $color-white;
$wordmark-secondary-text-color: #ccc;
$what-is-bg: #33373c;
$steps-bg: $color-white;
$steps-border-color: #d7d7d7;
$steps-link-color: $color-primary-alt;

