@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

.container {
  position: relative;
  z-index: 9;
}

.filters-container {
  width: 100%;
  margin-bottom: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .dropdown:not(:last-child) {
    margin-right: 20px;
  }
}

.event-headline-container {
  background: $color-primary-alt;
  padding-top: 80px;
}

.page-headline {
  margin-bottom: 0;
  font-weight: 300;
}

.featured-event-container {
  margin: 0 auto;
  width: 70%;
  margin-top: 120px;

  .featured-event-title {
    color: $color-secondary-alt;
    text-align: left;
    font-weight: 400;
  }

  .featured-event-description {
    text-align: left;
    color: $color-white;
    font-size: 20px;
    font-weight: 300;
  }
}

.feature-event-button {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
}

.btn-disabled {
  background-color: $color-white;
  color: $color-gray;
  border: 1px solid $color-gray;
  cursor: not-allowed;
}

.upcoming-events {
  background: $color-white;
  padding-top: 80px;

  .page-headline {
    color: $color-primary;
  }
}


.event-list {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  text-align: left;
  width: 65%;

  li:not(:last-child) {
    border-bottom: 1px solid $color-gray-extra-light;
  }
}

.event-headers {
  color: $color-primary;
  font-weight: 400;
}

.event-subheaders {
  color: $color-gray-features;
  font-weight: 200;

  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

//event-list categories
.event-description {
  color: $color-gray-features;
  font-size: 20px;
  text-align: left;
  margin-left: 0;
  display: none;
}

.event-type {
  color: $color-gray-features;
  float: left;
}

.event-location {
  color: $color-gray-features;
  float: right;
}

.event-topic {
  float: left;
  font-size: 28px;
  margin-bottom: 10px;
  display: inline;
  line-height: 1;
  cursor: pointer;

  .fa {
    color: $color-primary;
    transition: all .2s;
    padding-right: 4px;
    font-size: 20px;
    vertical-align: middle;
  }

  &.is-open {
    .fa {
      color: $color-secondary;
      transform: rotate(180deg);
      transition: all .2s;
    }
  }
}

.event-date {
  float: right;
  font-size: 30px;
  margin-top: 20px;
}

.missed-events {
  background: $color-white-rad-event;
  padding-top: 80px;
  border-top: 1px solid $color-gray-medium;

  h1 {
    color: $color-primary-alt;
    font-weight: 300;
    margin-bottom: 5px;
  }

  h2 {
    color: $color-gray-light;
    font-weight: 300;
    margin-top: 5px;
  }
}

.event-recap {
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 80px;
  width: 67%;
}

.event-buttons {
  margin-bottom: 40px;

  .buttons {
    float: right;
    text-align: right;
  }

  .social-tags {
    float: left;
    text-align: left;
  }
}

.rad-event {
  display: block;
  background: $color-white-rad-event;
  margin: 0 auto;
  min-height: 200px;
  border: 1px solid $color-gray-medium;
  border-radius: 10px;
  width: 65%;

  h1 {
    color: $color-primary-alt;
    font-weight: 300;
    font-size: 48px;
    padding-top: 20px;
  }

  h2 {
    color: $color-gray-light;
    font-weight: 300;
    font-size: 28px;
    margin-top: 10px;
  }

  a {
    margin-top: 25px;
    margin-bottom: 35px;
    min-width: 200px;
  }
}

.rad-event-alt {
  background: $color-white;

  h1 {
    color: $color-secondary;
  }
}

.rad-event-container {
  margin-top: 40px;
}

.subheader {
  margin-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  color: $color-gray-light;
  font-weight: 300;
  margin-top: 5px;
  font-size: 28px;
}

.image-card {
  height: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  span {
    display: none;
    color: $color-white;
  }

  img {
    flex-shrink: 0;
    min-width: 150%;
    min-height: 105%;
  }

  .image-card-text {
    color: $color-white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 400;

    a {
      color: $color-white;
      text-decoration: none;

      &:hover,
      &:visited {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}

.featured-event-image {
  min-height: 300px;
}

.clear-floats {
  clear: both;
}

.footer {
  margin-top: 0;
}

.social-tags {
  margin-top: 16px;
}

.social-tag {
  font-weight: bold;
  font-size: 16px;
  padding-right: 30px;
  color: $color-dark;
}

.image-card-container:not(:last-child) {
  margin-bottom: 0;
}

//Pagination styling
.pagination {
  display: inline-block;
  list-style: none;

  li {
    float: left;

    span {
      padding: $padding-base-vertical $padding-base-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      color: $color-primary;
      margin-left: -1px;
      cursor: pointer;
    }

    &.active {
      span {
        cursor: default;
        text-decoration: underline;
      }
    }
  }
}

.center-horizontal {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.hide-description {
  display: none;
}

//Dropdowns
.dropdown-menu-toggle,
.dropdown-menu {
  width: 100%;
}

.dropdown-menu {
  padding: 8px;
  background-color: $color-white;

  li {
    padding: 5px 8px;

    &:hover:not(.filter-container) {
      cursor: pointer;
      background-color: $dropdown-hover-color;
      text-decoration: none;
      outline: 0;

      span {
        color: $dropdown-events-text-color;
      }
    }
  }

  .filter-container {
    padding: 5px;
  }

  .value {
    float: none;
  }
}

.dropdown {
  margin-bottom: 10px;
}

.btn.dropdown-menu-toggle {
  width: 180px;
}


//Media Queries

@media (max-width: $screen-md-max) {
  .image-card {
    img {
      flex-shrink: 0;
      min-width: 165%;
      min-height: 105%;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .rad-event {
    width: 80%;
  }

  .filters-container {
    width: 75%;
    display: block;

    .dropdown:not(:last-child) {
      margin-right: 0;
    }
  }

  .btn.dropdown-menu-toggle {
    width: 75%;
  }

  .image-card-container:not(:last-child) {
    margin-bottom: 35px;
  }

  .image-card {
    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .featured-event-container {
    width: 100%;

    .featured-event-title {
      text-align: center;
      padding: 0 45px;
      margin: 30px 0;
    }

    .featured-event-description {
      margin-bottom: 45px;
    }
  }

  .event-list {
    width: 90%;

    li:not(:first-child) {
      margin-top: 40px;
    }
  }

  .event-recap {
    width: 100%;
  }

  //.event-list categories
  .event-topic {
    float: none;
    font-size: 24px;
    margin-bottom: 5px;
  }

  .event-date {
    float: none;
    font-size: 24px;
    margin-top: 5px;
  }

  .event-type {
    float: none;
  }

  .event-location {
    float: none;
  }

  .event-description {
    font-size: 16px;
    text-align: left;
    margin-right: 0;
    margin-left: 0;
  }

  .event-subheaders {
    h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .event-buttons {
    margin-bottom: 35px;

    .buttons {
      float: none;
      text-align: center;
    }
  }

  .missed-events {
    padding-bottom: 50px;
  }

  .filters-container {
    width: 100%;
  }

  .btn.dropdown-menu-toggle {
    width: 100%;
  }

  .social-tag {
    font-size: 12px;
    padding-right: 15px;
    color: $color-gray-features;
  }

  .social-tags {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .subheader {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .rad-event {
    width: 100%;

    h1 {
      font-size: 30px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-size: 20px;
      margin-top: 10px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .pagination {
    padding-left: 0;
  }
}
