@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
$purple-section-gradient-from: #654ca7;
$purple-section-gradient-to: #3c257b;

$padding-small: 20px;
$padding-medium: 40px;
$padding-large: 80px;

body {
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.installation-header {
  position: relative;
  overflow: hidden;

  &::after {
    background-image: linear-gradient(to right, $purple-section-gradient-from, $purple-section-gradient-to 100%);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h1 {
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    color: $color-white;
  }

  h2 {
    color: $color-gray-light;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .container {
    position: relative;
    z-index: 99;
  }

  > svg {
    position: absolute;
    left: -100px;
    right: -100px;
    top: -25%;
    min-height: 150%;
    min-width: 120%;
    z-index: 9;
    fill: $color-primary;
    opacity: .5;
  }

  @media (min-width: $screen-md-min) {
    h1 {
      font-size: 46px;
    }

    h2 {
      font-size: 22px;
      line-height: 1.6;
      margin: 10px auto 0;
      max-width: 900px;
    }
  }
}

.installation-content {
  padding: $padding-small 0;
  text-align: center;
  color: $color-white;

  @media (min-width: $screen-md-min) {
    padding: $padding-large 0;
  }
}

.omnibus-platform {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 24px;
  overflow: hidden;

  + .omnibus-platform {
    margin-top: $padding-medium;
  }

  @media (max-width: $screen-sm-min) {
    flex-direction: column;
    align-items: center;
  }
}

.omnibus-long-name {
  align-self: center;
  font-size: 18px;

  @media (min-width: $screen-md-min) {
    font-size: 22px;
  }
}


.dots {
  flex-grow: 1;
  border-bottom: 2px dotted $border-color;
  margin: 0 $padding-small;
  height: 0;
}

.omnibus-buttons {
  display: flex;
  margin-top: $padding-small;

  @media (min-width: $screen-md-min) {
    margin-top: 0;
    margin-left: auto;
  }
}

.dl-link-ce,
.dl-link-ee {
  min-width: 6em;
  align-self: center;
  border-radius: 4px;
  margin: 0;
}

.dl-link-ce {
  background-color: $color-primary-medium;
  margin-right: $padding-small;
}

.tab-icon {
  height: 32px;
}

.omnibus-table {
  ul {
    padding: 0;
    margin: 0;
  }
}

.omnibus-pills > li {
  width: 20%;
  border: solid 1px $color-gray-medium;
  border-bottom: 0;
  text-align: center;

  &:first-child {
    border-top-left-radius: $border-radius-large;
  }

  &:last-child {
    border-top-right-radius: $border-radius-large;
  }

  &:not(:first-child) {
    border-left: 0;
  }

  a {
    border-radius: 0;
  }

  &.active {
    border-color: $color-primary;

    a,
    a:focus {
      background-color: $color-primary;
    }

    a:active,
    a:focus {
      outline: none;
    }

    .omnibus-tab-icon {
      color: $color-white;
    }
  }

  > a {
    font-weight: bold;
    color: $text-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.omnibus-intro {
  margin: $padding-large 0 0;
}

.omnibus-tab-title {
  margin-left: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.omnibus-tab-icon {
  height: 32px;
  color: $text-color-light;
  filter: grayscale(100%);

  svg {
    height: 32px;
  }
}

.tab-content {
  border: 1px solid $color-primary-alt;
  padding: $padding-large;
}

.method-content {
  max-width: 970px;
  margin: 0 auto $padding-large;
}

.method {
  + .method {
    border-top: solid 1px $color-gray-medium;
    padding-top: $padding-medium;
    margin-top: $padding-large;
  }

  .block-title {
    text-align: center;
    margin: $padding-medium 0;
    color: $color-primary-alt;
  }

  p {
    font-size: 16px;
    line-height: 1.6;

    a {
      color: $text-color-light;
      text-decoration: underline;
    }

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  svg {
    fill: currentColor;
  }

  &.upgrade {
    text-align: center;

    p {
      font-size: 22px;
      margin-bottom: 30px;

      &:last-child,
      .cta-btn {
        margin: 0;
        text-decoration: none;
      }
    }
  }
}

.flex-tile-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: $padding-medium;

  @media (min-width: $screen-md-min) {
    margin-right: -$padding-small; // offset for items on right side
  }

  > li:not(.no-tile) {
    background: $color-white;
    border: solid 1px $color-gray-medium;
    list-style: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $padding-small;
    margin: 0 $padding-small $padding-small 0;

    a {
      width: 100%;

      &:hover,
      &:focus {
        color: $color-primary-alt;
      }
    }
  }

  .no-tile {
    width: 100%;
  }
}

.tile-image {
  margin: 0 auto $padding-small;
  color: $text-color-light;
  filter: grayscale(100%);

  &,
  svg {
    height: 52px;
    max-width: 100%;
  }
}

.tile-title {
  color: $color-primary-alt;
  font-size: 20px;
}

.light {
  color: $color-gray;
}
