---
title: Features
suppress_header: true
extra_css:
  - features-v2.css
extra_js:
  - libs/slick.min.js
  - features.js
---
.page-container.landing-container.text-center
  %div
    %h1.page-headline
      Next-generation developer collaboration software
    %h2.page-subtitle
      Confidently and rapidly iterate towards a better product.

    .dev-cycle.hidden-xs.hidden-sm
      - data.development_cycle.each_with_index do |item, index|
        .step
          = icon("home/icon-step-#{index + 1}")
          .step-name-container
            .step-name
              #{item[:name]}
          - if index < data.development_cycle.length - 1
            .arrows
              %i.fa.fa-angle-double-right

    %a.btn.cta-btn.red.video-button
      %span.fa.fa-play-circle-o
      Watch the Video
    %object.video-container{data:"https://www.youtube.com/embed/PoBaY_rqeKA", frameborder:"0", allowfullscreen:true}
.page-container.feature-gallery.text-center.animated
  .container.titles
    %h1
      Powerful features for modern software development
    %h2
      Tightly integrated into one platform.
    %h3
      Consolidate your source code
    %h4
      Wrangle your projects into one easy-to-manage tool.
    .row
      .feature-gallery-slick-container
        #feature-gallery-slider.main-slider-size
          = image_tag 'images/feature_page/screenshots/01-projects.png'
          = image_tag 'images/feature_page/screenshots/02-user-roles.png'
          = image_tag 'images/feature_page/screenshots/03-gitlab-pages.png'
        .row.slider-dots.slider-nav
          .col-md-4.feature-slider-dot-content{index: "0"}
            %a{href: "https://docs.gitlab.com/ee/README.html#projects-and-groups"}
              %div
                %h4
                  Projects
                %p
                  Organize your repository into private, internal, or public projects.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content{index: "1"}
            %a{href: "https://docs.gitlab.com/ee/user/permissions.html"}
              %div
                %h4
                  User roles
                %p
                  Manage access and permissions with five different user roles and settings for external users.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content{index: "2"}
            %a{href: "/features/pages/"}
              %div
                %h4
                  GitLab Pages
                %p
                  Create websites for your GitLab projects, groups, or user accounts.
                %span
                  Feature details
    .row.features-description.features-description-separation
      .col-sm-4.clearfix
        %a{href: "/features/gitlab-geo"}
          .col-xs-2
            =icon("features/icon-05-code-snippets")
          .col-xs-10.feature-contents
            %h4
              GitLab Geo
            %p
              The solution for widely distributed development teams.
            %span
              Feature details
      .col-sm-4.clearfix
        %a{href: "/features/file-locking"}
          .col-xs-2
            =icon("features/icon-03-protected-branches")
          .col-xs-10.feature-contents
            %h4
              File Locking
            %p
              Lock any file or directory to avoid merge conflicts and better manage your binary files. 
            %span
              Feature details
      .col-sm-4.clearfix
        %a{href: "https://docs.gitlab.com/ce/user/project/wiki/index.html#wiki"}
          .col-xs-2
            =icon("features/icon-04-wiki")
          .col-xs-10.feature-contents
            %h4
              Wiki
            %p
              Keep your documentation within the project using GitLab’s built-in wiki system.
            %span
              Documentation
    .row.features-description
      .col-sm-4.clearfix
        %a{href: "https://docs.gitlab.com/ee/#repository"}
          .col-xs-2
            =icon("features/icon-01-repos")
          .col-xs-10.feature-contents
            %h4
              Unlimited public and private repos
            %p
              Create a new repo for even the smallest projects.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href: "https://docs.gitlab.com/ee/workflow/importing/"}
          .col-xs-2
            =icon("features/icon-02-project-importing")
          .col-xs-10.feature-contents
            %h4
              Project importing
            %p
              Import existing projects from GitHub, BitBucket, Google Code, Fogbugz, or any git repo with a URL.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href: "https://docs.gitlab.com/ee/user/project/protected_branches.html"}
          .col-xs-2
            =icon("features/icon-03-protected-branches")
          .col-xs-10.feature-contents
            %h4
              Protected branches
            %p
              Control read/write permissions to specific branches.
            %span
              Documentation
    .row.features-description.features-description-separation
      .col-sm-4.clearfix
        %a{href: "https://docs.gitlab.com/ee/user/snippets.html"}
          .col-xs-2
            =icon("features/icon-05-code-snippets")
          .col-xs-10.feature-contents
            %h4
              Code Snippets
            %p
              Collect and share reusable code.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href: "https://docs.gitlab.com/ee/api/"}
          .col-xs-2
            =icon("features/icon-06-powerful-apis")
          .col-xs-10.feature-contents
            %h4
              Powerful APIs
            %p
              Control GitLab with a set of powerful APIs.
            %span
              Documentation
/Second features block
.page-container.feature-gallery.feature-gallery-alt.text-center.animated
  .container.titles
    %h3
      Track and manage releases
    %h4
      Ease the collaboration process with a single tool to track issues and monitor progress on your releases.
    .row
      .feature-gallery-slick-container
        /Gallery will be here
        #feature-gallery-slider-1.main-slider-size
          = image_tag 'images/feature_page/screenshots/04-issues.png'
          = image_tag 'images/feature_page/screenshots/05-issue-boards.png'
          = image_tag 'images/feature_page/screenshots/06-todos.png'
        .row.slider-dots.slider-nav-1
          .col-md-4.feature-slider-dot-content{index:"0"}
            %a{href: "https://docs.gitlab.com/ee/#issues-and-merge-requests-mrs"}
              %div.feature-contents-white
                %h4
                  Issues
                %p
                  Leverage GitLab’s built-in issue tracker to outline and share ideas.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content{index:"1"}
            %a{href:"/features/issueboard/"}
              %div.feature-contents-white
                %h4
                  Issue Board
                %p
                  Plan, organize, and visualize your release with a kanban-style board.
                %span
                  Feature details
          .col-md-4.feature-slider-dot-content{index:"2"}
            %a{href:"https://docs.gitlab.com/ee/workflow/todos.html"}
              %div.feature-contents-white
                %h4
                  Todos
                %p
                  View a simple dashboard with a chronological list of todos so you know what needs your attention.
                %span
                  Documentation
    .row.features-description
      .col-sm-4.clearfix
        %a{href:"/features/time-tracking"}
          .col-xs-2
            =icon("features/icon-11-due-dates")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Time Tracking
            %p
              Estimate and record task time without leaving GitLab
            %span
              Feature details
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/project/milestones/"}
          .col-xs-2
            =icon("features/icon-08-milestones")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Milestones
            %p
              Organize issues and merge requests into groups.
            %span
              Documentation
      .col-sm-4.clearfix.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/project/labels.html"}
          .col-xs-2
            =icon("features/icon-09-labels")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Labels
            %p
              Categorize and track issues or merge requests based on descriptive titles.
            %span
              Documentation
    .row.features-description.features-description-separation
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/project/description_templates.html"}
          .col-xs-2
            =icon("features/icon-07-issues-mr-templates")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Issue and MR Templates
            %p
              Create templates for issues and merge requests.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/search/"}
          .col-xs-2
            =icon("features/icon-12-search")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Powerful search
            %p
              Spend less time searching and more time building software.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/project/integrations/project_services.html"}
          .col-xs-2
            =icon("features/icon-10-todos")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              External Services
            %p
              Integrate with dozens of external services such as JIRA, Slack, Asana and more.
            %span
              Documentation
/Third features container
.page-container.feature-gallery.text-center.animated
  .container.titles
    %h3
      Increase code quality
    %h4
      Code collaboratively and trust your code review with fast branching and powerful diff tools.
    .row
      .feature-gallery-slick-container
        /Gallery will be here
        #feature-gallery-slider-2.main-slider-size
          = image_tag 'images/feature_page/screenshots/07-merge-requests.png'
          = image_tag 'images/feature_page/screenshots/08-merge-conflicts.png'
          = image_tag 'images/feature_page/screenshots/09-gitlab-ci.png'
        .row.slider-dots.slider-nav-2
          .col-md-4.feature-slider-dot-content{index:"0"}
            %a{href:"https://docs.gitlab.com/ee/user/project/merge_requests/"}
              %div
                %h4
                  Merge Requests
                %p
                  Create merge requests and @mention team members to review and safely merge your changes.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content{index:"1"}
            %a{href:"https://docs.gitlab.com/ee/user/project/merge_requests/resolve_conflicts.html"}
              %div
                %h4
                  Resolve merge conflicts in UI
                %p
                  Preview merge conflicts in the UI and tell git which version to track.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content{index:"2"}
            %a{href:"/features/gitlab-ci-cd/"}
              %div
                %h4
                  GitLab CI/CD Pipelines
                %p
                  Test every merge request. Run multiple jobs in parallel and see if your build passes with GitLab’s built-in CI.
                %span
                  Feature details
    .row.features-description
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/project/merge_requests/versions.html"}
          .col-xs-2
            =icon("features/icon-13-mr-versions")
          .col-xs-10.feature-contents
            %h4
              Merge request versions
            %p
              View and compare merge request diffs from the UI.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/discussions/#resolvable-discussions"}
          .col-xs-2
            =icon("features/icon-14-inline-commenting")
          .col-xs-10.feature-contents
            %h4
              Inline commenting and resolution
            %p
              Leave comments and resolve discussions on specific lines of code.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/user/project/merge_requests/cherry_pick_changes.html"}
          .col-xs-2
            =icon("features/icon-15-cherry-pick")
          .col-xs-10.feature-contents
            %h4
              Cherry-pick changes
            %p
              Use the cherry-pick button in the UI to isolate specific changes from a merge request.
            %span
              Documentation
/Fourth features container
.page-container.feature-gallery.feature-gallery-alt.text-center.animated
  .container.titles
    %h3
      Deploy with confidence
    %h4
      Test, build, and deploy your code.
    .row
      .feature-gallery-slick-container
        /Gallery will be here
        #feature-gallery-slider-3.main-slider-size
          = image_tag 'images/feature_page/screenshots/10-review-apps.png'
          = image_tag 'images/feature_page/screenshots/11-pipelines.png'
          = image_tag 'images/feature_page/screenshots/12-container-registry.png'
        .row.slider-dots.slider-nav-3
          .col-md-4.feature-slider-dot-content.feature-contents-white{index:"0"}
            %a{href:"/features/review-apps/"}
              %div
                %h4
                  Review Apps
                %p
                  Review Apps automatically spin up dynamic environments for your merge requests.
                %span
                  Feature details
          .col-md-4.feature-slider-dot-content.feature-contents-white{index:"1"}
            %a{href:"https://docs.gitlab.com/ee/ci/pipelines.html"}
              %div
                %h4
                  Pipelines
                %p
                  Define the build stages and visualize your pipelines so you can spot anything that fails.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content.feature-contents-white{index:"2"}
            %a{href:"https://docs.gitlab.com/ee/user/project/container_registry.html"}
              %div
                %h4
                  Container Registry
                %p
                  An integrated private Docker Container Registry means every project can have its own space to store its Docker images.
                %span
                  Documentation
    .row.features-description
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/ci/yaml/"}
          .col-xs-2
            =icon("features/icon-16-versioned-tests")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Versioned Tests
            %p
              :markdown
                Ensure every branch gets the tests it needs by allowing your team to contribute changes to the `.gitlab-ci.yml` file that contains your tests.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/runner/configuration/autoscale.html#overview"}
          .col-xs-2
            =icon("features/icon-17-autoscaling")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Autoscaling
            %p
              You can automatically spin up and down VMs to make sure your builds get processed immediately and minimize costs.
            %span
              Documentation
      .col-sm-4.clearfix
        %a{href:"https://docs.gitlab.com/ee/integration/jenkins.html"}
          .col-xs-2
            =icon("features/icon-18-jenkins")
          .col-xs-10.feature-contents.feature-contents-white
            %h4
              Jenkins Integration
            %p
              Integrate Jenkins CI, trigger a build, and see the build status on your merge request.
            %span
              Documentation
/Fifth features container
.page-container.feature-gallery.text-center.animated
  .container.titles
    %h3
      Follow changes and progress
    %h4
      Keep track of the progress and activity on your projects.
    .row
      .feature-gallery-slick-container
        /Gallery will be here
        #feature-gallery-slider-4.main-slider-size
          = image_tag 'images/feature_page/screenshots/13-activity-stream.png'
          = image_tag 'images/feature_page/screenshots/14-customized-notifications.png'
          = image_tag 'images/feature_page/screenshots/15-cycle-analytics.png'
        .row.slider-dots.slider-nav-4
          .col-md-4.feature-slider-dot-content{index:"0"}
            %a{href: "https://docs.gitlab.com/ee/user/profile/preferences.html#default-dashboard"}
              %div
                %h4
                  Activity Stream
                %p
                  View a list of the latest commits, merges, comments, and team members on your project.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content{index:"1"}
            %a{href: "https://docs.gitlab.com/ee/workflow/notifications.html"}
              %div
                %h4
                  Custom Notifications
                %p
                  Be notified by email, Slack, or ToDos anytime there are changes to an issue or merge request.
                %span
                  Documentation
          .col-md-4.feature-slider-dot-content{index:"2"}
            %a{href: "/features/cycle-analytics/"}
              %div
                %h4
                  Cycle Analytics
                %p
                  See how long it takes you to complete your software development lifecycle.
                %span
                  Feature details
.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
